body {
    font-family: 'Inter', sans-serif;
}

.bg-mocs-blue {
    background-color: #205395;
}

.text-mocs-blue {
    color: #205395;
}

.bg-mocs-orange {
    background-color: #FF8C00;
}

.text-mocs-orange {
    color: #FF8C00;
}

.border-mocs-blue {
    border-color: #205395;
}

.border-mocs-orange {
    border-color: #FF8C00;
}